<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8P8pYNoUpq-Cbi4u3_PYxdQPSu_RIi_g</string>
	<key>GCM_SENDER_ID</key>
	<string>172763682263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Isaiah.moodmapp</string>
	<key>PROJECT_ID</key>
	<string>moodmapp-dd857</string>
	<key>STORAGE_BUCKET</key>
	<string>moodmapp-dd857.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:172763682263:ios:b66b46381f186313226792</string>
</dict>
</plist>
